{% extends "core/category.html" %}
{% load scheduler %}

{% block html-head-extrastatics %}
<style>

#content-scheduler-month {
    width: 100%;
    margin-bottom: 2em;
    border: solid 1px #6d6f71;
    overflow: hidden;
}

#content-scheduler h2 {
    text-align: center;
    padding: 0.25em 0px 0.25em 0px;
    margin: 0px;
    color: white;
    background-color: #6d6f71;
}

#content-scheduler ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

#content-scheduler li {
    padding: 0px;
    margin: 0px;
}

#content-scheduler-month .cell {
    width: calc((100% / 7) - 12px);
    height: calc(5em + 12px);
    padding: 5px;
    margin: 1px;
    float: left;
    background-color: WhiteSmoke;
    overflow: hidden;
}

#content-scheduler-month a {
    color: #6d6f71;
    text-decoration: none;
}

#content-scheduler-month a:hover {
    color: white;
}

#content-scheduler-month .cell:hover {
    color: white;
    background-color: #6d6f71;
}

#content-scheduler-month .cell-header {
    height: 1.25em;
}

#content-scheduler-month .cell-header-count {
    display: block;
    float: left;
    margin-top: 0.18em;
    font-size: 0.76em;
}

#content-scheduler-month .cell-header-day {
    display: block;
    height: 100%;
    float: right;
    font-weight: bold;
}

#content-scheduler-month .cell-sunday {
    color: red;
}

#content-scheduler-month .cell-current {
    background-color: NavajoWhite;
}

#content-scheduler-month .cell-different-month {
    color: white;
    background-color: white;
    font-size: 0;
}

#content-scheduler-month .cell-different-month:hover {
    background-color: white;
}

#content-scheduler-month .cell-events {
    height: 5em;
    padding-top: 1em;
    overflow: hidden;
    font-size: 75%;
    clear: both;
}

#content-scheduler-month .cell-events li {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#content-scheduler-month .cell-events-cancelled {
    text-decoration: line-through;
}

</style>
{% endblock %}

{% block content %}
    <div id="content-scheduler">
        {% get_scheduler_events 2 as calendar %}
        {% now "Y-m-d" as today_str %}
        {% for month in calendar %}
        <div id="content-scheduler-month">
            <h2>{{ month.first_day|date:"F Y" }}</h2>
            <ul>
            {% for day in month.days %}
                {% if day.date.month == month.first_day.month %}
                    <li class="cell{% if day.date|date:"Y-m-d" == today_str and day.date.month == month.first_day.month %} cell-current{% endif %}">
                        <a href="{{ category.get_absolute_url }}{{ day.date|date:"Y-m-d" }}/">
                            <div class="cell-header">
                                <span class="cell-header-day{% if forloop.counter|divisibleby:"7" %} cell-sunday{% endif %}">{{ day.date|date:"D j" }}</span>
                                <span class="cell-header-count">
                                    {% with events_count=day.events|length %}
                                        ({{ events_count }}
                                        {% if events_count == 0 or events_count >= 5 %}událostí{% endif %}
                                        {% if events_count == 1 %}událost{% endif %}
                                        {% if events_count >= 2 and events_count <= 4 %}události{% endif %}
                                        )
                                    {% endwith %}
                                </span>
                            </div>
                            <ul class="cell-events">
                            {% for event in day.events %}
                                <li {% if event|is_cancelled_for_day:day.date %}class="cell-events-cancelled"{% endif %}>
                                    {{ event.title }}
                                </li>
                            {% endfor %}
                            </ul>
                        </a>
                    </li>
                {% else %}
                    <li class="cell cell-different-month">
                        {{ day.date|date:"D j.n." }} nepatří do tohoto měsíce
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
{% endblock %}
