<!DOCTYPE html>

{% load static %}
{% load category %}

<html lang="cs">
<head>
    {% block html-head %}
    <title>{% block html-head-title %}Karate Klub Matsu{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/matsu.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block html-head-extrastatics %}{% endblock %}
    {% endblock %}
</head>
<body>
    <div id="wrapper">
        <div id="content-wrapper">
            <div id="header">
            {% block header %}
                {% block h1 %}<h1 id="h1">{% block h1-text %}Karate Klub Matsu<span class="lowercase"> – {{ category.title }}</span>{% endblock %}</h1>{% endblock %}
                <div id="menu">
                    <ul>
                        {% category_item 'o-nas' current_category=category %}
                        {% category_item 'jak-zacit' current_category=category %}
                        {% category_item 'tradicni-karate' current_category=category %}
                        {% category_item 'treninky' current_category=category %}
                        {% category_item 'foto' current_category=category %}
                        {% category_item 'kontakt' current_category=category %}
                    </ul>
                    <hr class="cleaner">
                </div>
            {% endblock %}
            </div>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div id="sidebar">
            {% block sidebar %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
